#root > div {
    height: 100%;
}

#create-bracket {
    align-items: center;
    height: 100%
}

#create-bracket form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#create-bracket form .bracket-title {
    width: 20rem;
    margin: 1rem;
}

#create-bracket form .number-of-users {
    width: 10rem;
    margin: 1rem;
}

#create-bracket form .cancel-button {
    width: 5rem;
    height: 4rem;
    margin: 1rem;
}

#create-bracket form .submit-button {
    width: 5rem;
    height: 4rem;
    margin: 1rem;
}

#entry-inputs, #bracket-info {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-wrap: wrap;
}

#bracket-info {
  min-height: 10rem;
  max-width: 50%;
}

#entry-inputs {
  max-width: 70%;
}

#entry-inputs > div {
  margin: 0 1rem;
  max-width: 10rem;
}

div[class^="Typeahead-valueContainer"] {
  max-height: 2rem;
}

div[class^="MuiInputBase-input-"] div[class^="css-"] {
  cursor: default;
}
